name: Swift Format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  swift-format:
    runs-on: macos-15
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer

    - name: Run swift format lint
      run: swift format lint -s -r .
